
<!DOCTYPE html>
<html>
<head>
    <title>Selected Doctor Details</title>
</head>
<body>
    <form >
        <h1>Doctor Details</h1>
        <p>Name: <%= doctor.Name %></p>
        <p>Email: <%= doctor.Email %></p>
        <p>Speciality: <%= doctor.Speciality %></p>
        <p>Affiliation: <%= doctor.Affiliation %></p>
        <p>Educational Background: <%= doctor.EducationalBackground %></p>


        <!-- Add more data fields here as needed -->

    </form>
    
</body>
</html>
