<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../App.js"></script>
  <script src="../Routes/adminController.js"></script>
  <title>Packages</title>
  <style type="text/css">
    table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
   
  }
  .table-data{
      position: relative;
    left:50px;
    top:50px;
  }
  th, td {
    padding: 15px;
  }
</style>
</head>

<body>  
  <a href="/admin/add_packages">Add new Package</a>
  <div class="table-data">
    <table border="1" >
        <tr>
            <th>Package Name</th>
            <th>Price</th>
            <th>Session Discount</th>
            <th>Pharmacy Discount</th>
            <th>Family Discount</th>
            <th>Date Created</th>
            <th>Actions</th>
            
        </tr>
        
        <%
        if(PackData.length!=0){
        var i=1;
        if(PackData.length==1){

        }
          
        PackData.forEach(function(data){
        %>
        <tr>
            <td><%=data.Package_Name %></td>
            <td><%=data.Price %></td>
            <td><%=data.Session_Discount %></td>
            <td><%=data.Pharmacy_Discount %></td>
            <td><%=data.Family_Discount %></td>
            <td><%=data.createdAt %></td>
            <td><a href="/admin/editPack/<%=data._id%>">Edit </a><br><br><a href="/admin/deletePack/<%=data._id%>"> Delete</a></td>
            

          
           
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    <a href="/admin">Back to Admin Home</a>
    </div>
  </body>
</html>
