<!DOCTYPE html>
<html>
<head>
    <title>view prescription</title>
</head>
<body>
    <h1>view prescription</h1>
    
    <div class="table-data">
        <table border="1" >
            <tr>
                <th>MedicineID</th>
                <th>Quantity</th>
                <th>Instruction</th>
                <th>DOC_username</th>
                <th>Prescription Date</th>
                <th>Status</th>
                
            </tr>
            
            <%
            if(Prescriptions.length!=0){
            var i=1;
            if(Prescriptions.length==1){
    
            }
              
            Prescriptions.forEach(function(data){
            %>
            <tr>
                <td><%=data.Medicine[0].MedicineID %></td>
                <td><%=data.Medicine[0].Quantity %></td>
                <td><%=data.Medicine[0].Instructions %></td>
                <td><%=data.DocUsername %></td>
                <td><%=data.PrecriptionDate %></td>
                <td><%=data.Status %></td>
                
    
              
               
            </tr>
            <%  i++; }) %>
            <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
            <% } %>
        </table>
        <a href="/patient">Back to Patient Home</a>
        </div>
    <form action="/patient/viewprescriptions" method="get">
        
    </form>
</body>
</html>