


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription Details</title>
</head>
<body>
    <h1>Prescription Details</h1>

    <table>
        <thead>
            <tr>
                <th>Medicine Name</th>
                <th>Quantity</th>
                <th>Instructions</th>
            </tr>
        </thead>
        <tbody>
            <% prescription.Medicine.forEach(function(medicine) { %>
                <tr>
                    <td><%= medicine.MedicineID %></td>
                    <td><%= medicine.Quantity %></td>
                    <td><%= medicine.Instructions %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <p>Doctor's Name: <%= prescription.DocUsername %></p>
    <p>Prescription Date: <%= prescription.PrecriptionDate %></p>
    <p>Status: <%= prescription.Status %></p>
    <a href="/patient">Back to Patient Home</a>
</div>
<form action="/patient/viewprescriptions" method="get">

</form>
</body>
</html>